.menuProdutos-container {
  width: 100%;
  padding: 14px 30px;
  background: #ffffff;
  border-bottom: 1px solid #e7dcdc;

  display: flex;
  align-items: center;
  gap: 30px;

  overflow-x: auto;
  scrollbar-width: none;
}

.menuProdutos-container::-webkit-scrollbar {
  display: none;
}

.menuProdutos-card {
  min-width: 170px;
  background: #ffffff;
  border-radius: 18px;
  overflow: hidden;
  cursor: pointer;
}

.menuProdutos-card img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 12px;
}

.menuProdutos-card h4 {
  margin: 6px 0 0 4px;
  font-size: 12px;
  font-weight: 700;
  color: #b65e54;
  font-family: "Poppins";
}

.menuProdutos-card p {
  margin: 0 0 4px 4px;
  font-size: 12px;
  color: #333;
  font-family: "Poppins";
}
